<section class="contact-section">
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="contact-container"> 
        <article class="presentation-personal">
            <h2 class="presentation__title">Sobre mi</h2>
            <p>Hola, mi nombre es Jeanfranco Lazarinos A.</p>
            <p>Soy un joven de 24 años, Arequipeño de nacimiento con la meta de desembolverse como Frontend Developer;
                Apasionado con la tecnología y el trabajo colaborativo. Actualmente llevo un curso de programación
                gracias a
                la beca "Jovenes Bicentenario". Anterior a ello aprendi de manera autodidacta las bases de la
                programación.
            </p>

            <div>
                <p>Mis tecnologías:</p>
                <div class="container-lists">
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>Bootstrap</li>
                    </ul>
                    <ul>
                        <li>Git</li>
                        <li>Angular</li>
                        <li>React</li>
                        <li>NodeJS</li>
                    </ul>
                </div>
            </div>

            <div class="container-ancore">
                <a href="https://www.linkedin.com/in/jeanla/" target="_blank" class="btn ancore">Leer más</a>
            </div>
        </article>
        <app-contact />
    </div>
</section>