<section class="table-users__container">
    <table>
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th class="responsive-table">Usuario</th>
                <th class="responsive-table">Dirección</th>
                <th class="responsive-table">Web personal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td class="td-image"><img [src]="usuario.foto" [alt]="usuario.foto" class="imagen-table"></td>
                <td>{{usuario.name}}</td>
                <td>{{usuario.email}}</td>
                <td class="responsive-table">{{usuario.username}}</td>
                <td class="responsive-table">{{usuario.address.street}}, {{usuario.address.city}}</td>
                <td class="responsive-table">{{usuario.website}}</td>
            </tr>
        </tbody>
    </table>
</section>