<section class="wrapper">
    <article *ngIf="!isLoading" class="body-login">
        <figure class="icon-login__container">
            <img src="../../../assets/images/recover.png" alt="login" class="icon-login">
        </figure>
        <h3>recover password</h3>
        <form class="formulario-login" [formGroup]="recuperarUsuario" (ngSubmit)="sendMessage()">
            <div class="inputBox">
                <input type="text" required formControlName="email">
                <span>Email:</span>
            </div>
            <div>
                <button [disabled]="recuperarUsuario.invalid" type="submit" class="btn">Recuperar contraseña</button>
            </div>

            <div class="other-options">
                <p class="my-account">Prefiero <a routerLink="/login">Iniciar Sesión</a></p>
            </div>
        </form>
    </article>
    <app-spinner *ngIf="isLoading"></app-spinner>
</section>