<section class="navigation-container">
    <nav class="nav">
        <ul class="links-container">
            <li routerLink="/inicio" class="link-item">Inico</li>
            <li routerLink="/usuarios" class="link-item">Usuarios</li>
            <li routerLink="/contacto" class="link-item">Contacto</li>
        </ul>
        <div class="option-user">
            <a *ngIf="!sesionActiva; else sesionElse" class="link-item" routerLink="/login">Login</a>
            <ng-template #sesionElse>
                <a class="link-item" (click)="logout()">Logout</a>
            </ng-template>
        </div>
    </nav>
</section>