<div class="form-container">
    <form class="formulario ">
        <h2 class="form__title">Contáctame</h2>
        <div class="inputBox caja1 --active">
            <input class="input-active" type="text" required disabled [value]="email">
            <span class="span-active">Email: </span>
        </div>
        <div class="inputBox caja2">
            <input type="text" required>
            <span>Nombre: </span>
        </div>

        <div class="inputBox caja3">
            <input type="text" required>
            <span>Localidad: </span>
        </div>

        <div class="inputBox caja4">
            <textarea id="w3review" name="w3review" rows="4" cols="50" required></textarea>
            <span>Mensaje: </span>
        </div>
        <div class="caja5">
            <button class="btn" type="submit">Enviar Mensaje</button>
        </div>
        <div>
            <p *ngIf="!dataUser" class="text">Para contactar conmigo tienes que estar logeado en la página</p>
        </div>
    </form>
</div>